In [9]:
import pandas as pd

# no duplicate rows
df = pd.read_csv("../data/affordable_rental_units.csv")
df.head(5)

,Neighborhood,"Building Address (click below for property website, where available)",For Current Vacancies and More Information,Number of Units Tracked,Bedroom Sizes,AMI Categories
0,Allston,8 Griggs Street,The Mount Vernon Company: 617.267.0006,2.0,1BR,80-100%; 100%
1,Allston,31 North Beacon Street,Carol Fiore: cfiore@78clean.com,3.0,"Studio, 1BR, 2BR",70%
2,Allston,40 Malvern Street,40Malvern@maloneyproperties.com,6.0,"1BR, 2BR",70%
3,Allston,450 Cambridge Street,Maloney Properties: 617.209.5406 450Cambridge@...,5.0,"1BR, 2BR",70%
4,Allston,1505\nCommonwealth Avenue,LBC Boston: 617.599.7261,10.0,"Studio, 1BR, 2BR",70%

In [12]:
violations_df = pd.read_csv("../data/cities_df.csv")
violations_df.head(5)

,Unnamed: 0,Location,Hot Water,Potable Water,Heating Facilities Required,Temperature Requirements,Asbestos Material,Use of Lead Paint Prohibited,Safe Condition,Smoke Detectors and Carbon Monoxide Alarms,Total
0,0,boston,30.0,1.0,45.0,40.0,0.0,0.0,2.0,121.0,116.0
1,1,dorchester,29.0,3.0,41.0,32.0,0.0,1.0,7.0,181.0,106.0
2,2,roxbury,15.0,0.0,17.0,12.0,0.0,0.0,1.0,43.0,44.0
3,3,jamaicaplain,10.0,1.0,14.0,7.0,0.0,0.0,3.0,27.0,32.0
4,18,southboston,2.0,0.0,21.0,9.0,0.0,0.0,1.0,26.0,32.0